@Model object
@{
    ViewBag.Title = "Edit";
}

<script>
    var dataType = "@Model.GetType().Name.ToString()";
</script>

<script src="~/Scripts/EditPageScript.js"></script>
<h2>Edit @Model.GetType().Name</h2>

<table>
    @foreach (var property in Model.GetType().GetProperties())
    {
        var isPropEdiable = @Model.GetType().GetProperty(property.Name).GetSetMethod(false); //.IsPublic;
        <tr>
            <td class="body-content" >@property.Name</td>
            <td>
                @if (isPropEdiable != null)
                {
                    <input class="input-sm" id=@property.Name value=@Model.GetType().GetProperty(property.Name).GetValue(Model)>
                }
                else
                {
                    <label>@Model.GetType().GetProperty(property.Name).GetValue(Model)</label>
                }
            </td>
        </tr>
    }
</table>

<button class="btn btn-info" id="saveButton">Save</button>